body {
    display: grid;
    place-items: center;
}

button{
    height: 100px;
    width: 250px;
    position: relative;
}

.outerbutton {
    top: -150px;
    margin-bottom: 50px;
}

.innerbutton {
    top: -100px; 
    z-index: 1;
}
div{
    height: 200px;
    width: 400px;
    text-align: center; 
    position: relative;
}

.bottomBox {
    border: 1px solid;
    border-radius: 5px;
    top: -250px;
    background-color: rgb(213, 213, 213);
}

.circleShape {
    height: 200px;
    width: 200px;
    background-color: white;
    border: 1px solid black;
    border-radius: 100px;
    top: -200px;
}

.circleShape p {
    position: relative;
    top: 30%;
}